@model List<UserModel>
@{
    
    ViewData["Title"] = "User Management";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["ErrorMessage"]
    </div>
}


<h1 class="display-4 mb-3">User Management</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a role="button" class="btn btn-dark" asp-controller="User" asp-action="CreateUser">Create new user</a>
</div>
<table class="table" id="user-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Login</th>
            <th scope="col">Total Products</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">CPF</th>
            <th scope="col">Profile Level</th>
            <th scope="col">Register Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
	<tbody>
        @if (Model != null && Model.Any())
        {
            foreach (UserModel user in Model)
            {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Login</td>
                    <td>
                        <a href="javascript:" user-id="@user.Id" class="btn btn-success btn-sm btn-informations">
                            @(user.Products != null && user.Products.Any() ? user.Products.Count() : 0)
                        </a>
                    </td>
				<td>@(user.Address == null ? "Not informed" : user.Address)</td>
                <td>@(user.Phone == null ? "Not informed" : user.Phone)</td>
                <td>@(user.CPF == null ? "Not informed" : user.CPF)</td>
                <td>@(user.ProfileLevel == Analisystem.Enums.AccessLevel.Admin ? "Admin" : "Standard")</td>
                <td>@user.RegisterDate</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-dark mx-2" asp-route-id="@user.Id" asp-controller="User" asp-action="Edit">Edit</a>
                        <a role="button" class="btn btn-danger" asp-route-id="@user.Id" asp-controller="User" asp-action="ConfirmDelete">Delete</a>
                    </div>
                </td>
            </tr>
            }
        }

    </tbody>
</table>

                <div id="ProductUserModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Products</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="userProductList"></div>
            </div>

        </div>
    </div>
</div>