@model ProductModel
@{
    ViewData["Title"] = "Edit product";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["ErrorMessage"]
    </div>
}
<h2 class="display-5 border-bottom mb-3">Edit product</h2>
<form asp-controller="Product" asp-action="EditProduct" method="post">
    <div class="row g-3">
        <div class="col">
			<input type="hidden" asp-for="Id" />
            <div class="mb-3 form-floating">
                <input type="text" asp-for="Name" class="form-control" placeholder="Name">
                <label for="floatingName" class="form-label">Name</label>
                @Html.ValidationMessageFor(x=>x.Name)
            </div>
        </div>
        <div class="col">
            <div class="mb-3 form-floating">
                <input type="number" asp-for="Quantity" class="form-control" placeholder="Insert the quantity.">
                <label for="floatingQuantity" class="form-label">Quantity</label>
                @Html.ValidationMessageFor(x=>x.Quantity)
            </div>
        </div>
        <div class="row gx-1">
            <div class="col mx-2">
                <div class="mb-3 form-floating">

                    <input type="number" asp-for="Price" class="form-control" placeholder="Insert the price." min="1" step="any">
                    <label for="floatingPrice" class="form-label">Price</label>
                    @Html.ValidationMessageFor(x=>x.Price)
                </div>

            </div>
            <div class="col">
                <div class="mb-3 form-floating">
                    <input type="text" asp-for="Purpose" class="form-control" placeholder="Write the purpose">
                    <label for="floatingPurpose" class="form-label">Purpose</label>
                </div>
            </div>
        </div>
        <div class="row g-1">
            <div class="col">
                <div class="mb-3 form-floating">
                    <input type="text" asp-for="Provider" class="form-control" placeholder="Inform a provider">
                    <label for="floatingProvider" class="form-label">Provider</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 form-floating">
                    <input type="text" asp-for="ProviderNumber" class="form-control" id="phoneNumber" placeholder="Inform a contact to the provider.">
                    <label for="floatingProviderNumber" class="form-label">Provider Number</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-1">Update</button>
            <a class="btn btn-secondary" asp-controller="Product" asp-action="ManageProducts">Cancel</a>
        </div>
</form>
